{% extends '::base.html.twig' %}

{% block title %}Bald 30ig{% endblock %}

{% block body %}
    {% verbatim %}
    <div ng-app ng-controller="ParticipantController">
        <div class="row" >

            <h1>Mein 30igster Geburtstag</h1>

            <p class="lead">Aktuell kommen {{ seatsCount }} Leute in total {{ participants }} Anmeldungen.</p>


            <div class="col-xs-6">
                <div class="panel panel-default" >

                    <div class="panel-body">
                        <div class="input-group">
                            <div class="alert alert-{{ messageType }}" ng-show="{{ messageType }}">{{ message }}</div>
                            <form>
                                <input type="hidden" class="form-control" placeholder="Name" ng-model="register.id_people">
                                <input type="hidden" class="form-control" placeholder="Name" ng-model="register.id_participant">

                                <div class="form-group">
                                    <label for="name">Wer bist du?</label>
                                    <input id="name" type="text" class="form-control" placeholder="Name" ng-model="register.name" name="register.name">
                                </div>
                                <div class="form-group">
                                    <label for="name">Wieviele seid Ihr?</label>
                                    <input type="text" class="form-control" placeholder="Anzahl Personen" ng-model="register.numPlaces">
                                </div>

                            <input type="text" class="form-control" placeholder="Email" ng-model="register.email">

                                <div ng-repeat="gift in gifts">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="radio">
                                                <input type="radio" ng-model="register.id_gift" name="register.id_gift" id="optionsRadios2" value="{{ gift.id }}">

                                                <div class="media">
                                                    <a class="pull-left" href="#">
                                                        <img src="{{ gift.picture_url }}" alt="{{ gift.name }} Picture" class="img-circle media-object img-gift">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">{{ gift.name }}</h4>
                                                        <button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-lg" ng-click="loadDetails(gift.url)">mehr...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                {{ giftDetails }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" ng-model="register.id_gift" name="register.giftId" id="optionsRadios2" value="0">
                                                <h4>Ich w채hle selber</h4>
                                            </label>
                                        </div>
                                        <p class="list-group-item-text">Das geht nat체rlich auch :)</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="giftAmount">Beteiligung</label>
                                    <input id="giftAmount" type="text" class="form-control" ng-model="register.giftAmount" placeholder="CHF">
                                </div>
                                <div class="form-group">

                                    <button ng-click="doPartipate()" type="button" class="btn btn-default btn-lg">
                                         Anmelden
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">

                <div class="panel panel-default">
                    <div>

                        <div ng-show="token">
                            Cooool, danke f체r die Anmeldung. Merke dir bitte diesen Code
                            <div>
                                {{ token }}
                            </div>
                            Mit dem kannst du dich hier wieder anmelden und Daten 채ndern.
                        </div>

                        <div ng-hide="token">
                            <div class="form-group">
                                <label for="token">Dein Code</label>
                                <input id="token" type="text" class="form-control" ng-model="login.token" placeholder="Token">
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-click="doLoadPartipate()" class="btn btn-default">Laden</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>




    </div>
    {% endverbatim %}

{% endblock %}